node_modules/
.venv/
.git/
.gitignore
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.env
.DS_Store
Thumbs.db
*.log
img/
.fastapicloud/
.vscode/
sample-supermarket-dataset/
superstore-dashboard.code-workspace
