PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=supermarket_sales
PG_USER=postgres
PG_PASSWORD=yourpassword

JWT_SECRET="YOUR-SECRET-KEY"
// for reference: python -c "import secrets; print(secrets.token_hex(32))
JWT_EXPIRES_MINUTES=60

DATABASE_URL=postgresql+asyncpg://postgres:yourpassword@localhost:5432/supermarket_sales